{% extends "bootstrap/base.html" %}

{% block title %}
Admin | Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='admin_dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SkyeMath</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><h5>Manage Users/Databases</h5></li>
            <li class="active"><a href="/admin">View Databases<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h5>Manage Assignments</h5></li>
            <li><a href="#">Create Lesson</a></li>
            <li><a href="{{ url_for('add_parts') }}">Add Questions</a></li>
            <li><a href="#">Activate/Deactivate Lesson</a></li>
            <li><a href="#">Delete Assignment</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h5>View Data</h5></li>
            <li><a href="{{ url_for('select_block_lesson_view') }}">View Data for Lesson/Block</a></li>
            <li><a href="{{ url_for('select_user_lesson_view') }}">View Data for Lesson/User</a></li>
            <li><a href="{{ url_for('select_user_view') }}">View Data for User</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            {% if subject_name == 'Algebra 2 Common Core' %}
              {% set subject_abbrev = 'alg2' %}
            {% elif subject_name == 'AP Computer Science Principles' %}
              {% set subject_abbrev = 'apcsp' %}
            {% else %}
              {% set subject_abbrev = subject_name %}
            {% endif %}

            <div class="container-fluid">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h2>Welcome {{ current_user.first_name }},</h2>
                </div>
                <div class="panel-body">
                  {% for unit in units %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">Unit {{ unit.number }}: {{unit.title}}</h4>
                    </div>
                      <table class="table table-hover">
                      <tr><th>Lesson Number</th><th>Lesson Title</th></tr>
                      {% for lesson in unit.lessons.all() %}
                      <tr><td>{{ lesson.number }}</td><td><a href="assignment/{{ subject_abbrev }}/u{{ unit.number }}/l{{ lesson.number }}">{{ lesson.title }}</a></td></tr>
                      {% endfor %}
                      </table>
                  </div>
                  {% endfor %}
                </div>
              </div>
              </div>
        </div>
      </div>
    </div>

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='admin_dashboard.js')}}"></script>
{% endblock %}

{% endblock %}