{% extends "post_login_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Assignment U{{ unit.number }}: L{{ lesson.number }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
<div class="row">
{% for question in questions %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Question {{ question.number }}</h3>
	</div>
	<div class="panel-body">
		{% if question.html %}
		{{ question.html|safe }}
		{% endif %}
		{% set parts = question.parts.all() %}
		{% if parts|length == 1%}
		{% set part = parts[0] %}
		<form method="POST" action="">
			<p>{{ part.html|safe }}</p>
			<input type="text" name="answer" class="answer_field">
			<input type="hidden" name="part_id" value="{{ part.id }}">
			<input type="hidden" name="user_id" value="{{ current_user.id }}">
			{% for response in responses if (response.part.letter == part.letter and response.part.question == part.question) %}
			{% if response.status %}
			<span class="answer_reaction glyphicon glyphicon-ok" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit" disabled>
			{% else %}
			<span class="answer_reaction" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit">
			{% endif %}
			{% else %}
			<span class="answer_reaction" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit">
			{% endfor %}
		</form>
		{% else %}
		{% for part in parts %}
		<form method="POST" action="">
			<p>({{ part.letter }}) {{ part.html|safe }}</p>
			<input type="text" name="answer" class="answer_field">
			<input type="hidden" name="part_id" value="{{ part.id }}">
			<input type="hidden" name="user_id" value="{{ current_user.id }}">
			{% for response in responses if (response.part.letter == part.letter and response.part.question == part.question) %}
			{% if response.status %}
			<span class="answer_reaction glyphicon glyphicon-ok" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit" disabled>
			{% else %}
			<span class="answer_reaction" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit">
			{% endif %}
			{% else %}
			<span class="answer_reaction" aria-hidden="true"></span>
			<input type="submit" name="Submit" class="btn btn-primary submit_button" value="Submit">
			{% endfor %}
		</form>
		</br>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="{{url_for('.static', filename='check.js')}}"></script>
{% endblock %}