{% extends "post_login_layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='assignmentstyle.css')}}">
{% endblock %}

{% block content %}
	{{ super() }}
 	<form method='POST' action="test3">
 	<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
 	<div class="panel panel-primary question_panel">
 		<div class="panel-heading">
			<h3 class="panel-title">User Selection</h3>
		</div>
		<div class="panel-body">
		 	{{ form.csrf_token }}

		 	{{ form.subject.label }}
		    {{ form.subject(onchange='getBlocksAndUnits()') }}

		    {{ form.unit.label }}
		    {{ form.unit }}

		    {{ form.lesson.label }}
		    {{ form.lesson }}

		    {{ form.block.label }}
		    {{ form.block(onchange='getUsers()') }}

		    {{ form.user.label }}
		    {{ form.user }}

    	<input type="submit" value="Submit" class="btn btn-primary submit_button">
    	</div>
	</div>
	</div>
    </form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='getStuff.js')}}"></script>
<script src="{{url_for('.static', filename='formSetup.js')}}"></script>
3
{% endblock %}